{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="form-container">
<form method="post">
    {% csrf_token %}
    <label><strong>Name:</strong></label>    
    <input type="text" placeholder="Enter your Name" name="u" ><br><br>
    <label><strong>Title:</strong></label>  
    <input type="text" placeholder="Enter Title" name="t"><br><br>
    <label><strong>Description:</strong></label>  
    <textarea type="text" placeholder="Enter Description here" name="d"></textarea><br><br>
    <button>SUBMIT</button>
</form>
</div>

<div class="back-link">
<a href="{% url 'home' %}" style="color:#42326E;text-decoration: none;">Back</a>
</div>

{% endblock %}